/* basic elements */
html {
	margin: 0;
	
        
        background-image: url("background.jpg");

        background-repeat: repeat-y; 
        background-size:30% ;
        background-attachment: fixed;
        float:right;
	}
body {
        color: #333300;
        

        margin-left: 450px;
        font:70% ;
        font-family: monospace;
        
        vertical-align: middle;
        
        
        
        
        text-transform:capitalize;">Good Morning Piter.
        
    
	      
	      
      }


h1{
       display: inline-block;
       -webkit-transform: scale(0.5);
       -webkit-transform: rotate(10deg);
       text-align: center;

  
       color:white;
       text-shadow:0px 0px 30px black; ;

       font-size:7vw;
       border: 10px black; 
       
       margin-top:80px;
       
       
       height:auto;min-height: 60px;
       
       background-color:brown;
       
       
       border-radius:0.8em;
       background-image: url("ET.jpeg");

       background-repeat: repeat-x; 
       background-size:0.5em ;
       width:55vw;

       
   }
h4{ 
  display:inline-block;
	
	padding:auto;
	color:#922;
	width:20em;
	height:auto;

	line-height:18px;
	margin-left: 20px;
  font-size: 25px;
	border-radius:0.8em;
  text-shadow:0px 0px 30px white; 
	

}
.intr{
  font-size: 20px;
	display: inline-block;
  line-height:15px;
    
	margin-top: 30px;

	padding:0.7em 0.2em;
	height:auto;
	background:khaki;
	
  background-image: url("ET.jpeg") ;
        background-repeat:no-repeat;
        background-position:right;

        width:30vw;height:180px;

}


.intro{
	display: inline-block;
    line-height:15px;
    
    
	  padding:0.7em 1em;
	  background:peachpuff;
	  background-image:  url("background.jpg");

    background-position: center;
    background-repeat: repeat;                
    
    border-radius:1em;
	  height: 40px;
    width:auto;
    text-align: center;
    vertical-align: -40px;
    font-size: 20px;
}

  


p::first-letter {
    font-size: 200%;
    color: #8A2BE2;
  }

.TA{
    
	background:pink;
	
	width:auto;
	height:auto;
	padding:1em;
  margin-left: 40px;
  
}
#year{
  
    margin-left: 80px;
    line-height:18px;
}
#name{
	
    margin-left: 80px;
    line-height:18px;
}

#credit{
  
  
    line-height:18px; 
    margin-left: 80px;

}
#note{
  
    
    line-height:18px; 
    margin-left: 80px;

}

ol{
	background:pink;
	width:800px;
	height:auto;
	margin-top:4px;
  
  list-style-type: none;
  list-style-type: decimal !ie; /*IE 7- hack*/
    margin: 0;
    padding: 0;
    counter-reset: li-counter;
    margin-left: 40px;
	
	
}


ol > li{
    position: relative;
    margin-bottom: 20px;
    padding-left: 0.5em;
    min-height: 1em;
    border-left: 2px solid #CCCCCC;

}
ol > li:before {
    position: absolute;
    top: 0;
    left: -1.4em;
    
     
    font-size: 1em;
   
    
    text-align: right;
    color: #464646;
 
    content: counter(li-counter);
    counter-increment: li-counter;
}

.TAA>li{
  padding:3px 10px;
  width:auto;

}

.TAA>li:nth-child(odd){
  background-color:rgba(255,255,255,0.5);
}



ul{
	background:pink;
	width:68vw;
	height:auto;
	margin-top:4px;
  padding:20px;
  margin-left: 40px;
	
	
}


footer{
  text-align: center; padding: 10px; background:wheat;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: .5s;
  opacity: .7;


}

#images img{
  width:40%;
  padding:1em;
  background-color:#ffffff;
  box-sizing:border-box;
  margin-left: 200px ;
  margin-right:auto;
}
.top{
 background: url("swirl.png") repeat scroll;
 height: auto;
 
 
width:69vw;
 text-align: justify;
}
.down{
 
 background: url("ful.jpg") scroll;
 height: auto;
 width: 68vw;
 overflow: auto; /*內容超過高度時產生捲軸*/
 margin: 0 ;
 padding-left: 0;
 text-align: justify;
 overflow: auto; /*內容超過高度時產生捲軸*/
 
}
footer:hover{
  opacity: 1;
  background:orange;

}
a:link{
	color:blue;
}
a:active{
	color:red
}
a:visited{
    color:darkred;
}